.wrapper {
    font-family: inherit;
}

.medium {
    font-size: 1.3rem;
    font-weight: 600;
}

.large {
    font-size: 1.6rem;
    font-weight: 600;
}

.blue {
    color: var(--primary-color);
}

.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

.square {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 7.5px 11px;
    border-radius: 4px;
    background-color: var(--primary-color);
}

.disabled {
    // Prevent opacity float
    color: rgba(0, 149, 246, 0.5);
    pointer-events: none;
    user-select: none;
}
