@use '../../../scss/' as *;

.default-header {
    border-bottom: 1px solid rgb(219, 219, 219);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    z-index: 1;
}
.wrapper {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
    }
}
