.swap-modal {
    height: 246px;
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;

    .close-icon {
        position: absolute;
        top: 4px;
        right: 3px;
        font-size: 2.2rem;
        padding: 5px 9px;
        cursor: pointer;
    }

    .body {
        flex: 1;
        padding: 8px 16px;
    }

    .account {
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .profile {
        display: flex;
        align-items: center;
    }

    img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 1px solid var(--separator-color);
        margin-right: 12px;
        object-fit: cover;
    }

    .user-name {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .icon {
        color: var(--primary-color);
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-top: 1px solid var(--separator-color);
    }
}
